In [1]:
# Import necessary libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [2]:
data_ = pd.read_csv("anime.csv", index_col=0)
ar = data_.copy()

In [3]:
# Ensure 'genre' column contains a list of strings for each anime
ar['genre'] = ar['genre'].apply(lambda x: x.split(', ') if isinstance(x, str) else [])

In [4]:
ar = ar.dropna(subset=['genre'])

In [5]:
# Exclude rows with the "Hentai" genre
ar = ar[ar['genre'].apply(lambda x: 'Hentai' not in x)]

# Filter rows where 'type' is "TV"
ar = ar[ar['type'] == 'TV']

In [6]:
genres_list = ar['genre'].tolist()

In [7]:
# Encode the data
te = TransactionEncoder()
te_ary = te.fit(genres_list).transform(genres_list)
ar_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [8]:
# Apply FP-Growth algorithm
frequent_itemsets = fpgrowth(ar_encoded, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules[['antecedents', 'consequents', 'support', 'confidence']]

       antecedents consequents   support  confidence
0        (Shounen)    (Comedy)  0.099287    0.528090
1          (Magic)   (Fantasy)  0.055189    0.592068
2         (Sci-Fi)    (Action)  0.110378    0.540052
3         (School)    (Comedy)  0.102456    0.684303
4        (Romance)    (Comedy)  0.104040    0.604294
5  (Slice of Life)    (Comedy)  0.096910    0.653025
6          (Mecha)    (Sci-Fi)  0.077106    0.770449
7          (Mecha)    (Action)  0.062583    0.625330